body {
    background: #f1fbff;
}

.home,
.book__now {
    .navbar-nav a {
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 500;
    }

    .navbar-light .navbar-brand {
        color: #000;
        font-size: 25px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
    }

    .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
        color: #000;
    }

    .navbar-light .navbar-nav .nav-link {
        color: #000;
    }

    .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
        color: #000;
    }
    
    .navbar-toggler {
        padding: 1px 5px;
        font-size: 18px;
        line-height: 0.3;
        background: #fff;
    }

    #banner {
        height: 90vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-blend-mode: multiply;
        background-color: rgba(0, 0 , 0, .7);
    }

    @media only screen and (max-width: 767px) {
        .navbar-nav {
            text-align: center;
        }
    }
}

.home {
    #banner {
        background-image: url('/assets/images/homepage_banner.jpg');
    }
}

.book__now {
    #banner {
        background-image: url('/assets/images/booknow_banner.jpg');
    }
}
